:root
{
    --darkerColor: #957DAD;
    --lighterColor: #E0BBE4;
}
body
{
    background-color: var(--darkerColor);
}
h1
{
    text-shadow: 5px 5px 5px var(--darkerColor);
}
h2
{
    text-shadow: 5px 5px 5px var(--darkerColor);
}
ul.topnav
{
    background-color: var(--lighterColor);
}
ul.PageLinks li a
{
    box-shadow: 5px 5px 5px var(--darkerColor);
}
#loginPFP
{
    border: 2px solid var(--darkerColor);
}
.clickToLogin
{
    background: none;
}
.PageLayout
{
    background-color: var(--lighterColor);
}
.AdSpace
{
    background-color: var(--lighterColor);
}
.Search .btn 
{
    background: var(--darkerColor);
}
.TitleAndSearch 
{
    border-right: 2px dashed var(--darkerColor);
}
.TitleAndSearch .search-container input
{
    border: 2px solid var(--darkerColor);
}
.EntryLayout
{
    background-color: var(--darkerColor);
    border: 5px solid var(--darkerColor);
}
.InfoWTitle
{
    background-color: var(--lighterColor);
    border: 2px dashed var(--darkerColor);
}
#Content
{
    background-color: var(--lighterColor);
    border: 2px dashed var(--darkerColor);
}
#Links
{
    background-color: var(--lighterColor);
    border: 2px dashed var(--darkerColor);
}
.EntryDisplayTitle
{
    display: flex;
    align-items: center;
}
.InitialPost
{
    border-color: var(--darkerColor);
    background-color: var(--lighterColor);
    border-bottom-style: none;
}
.PosterInfo
{
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.PosterInfo img
{
    border-color: var(--darkerColor); margin-bottom: 0px;
}
.PosterInfo p
{
    margin: 5px;
}
.Comment
{
    border-color: var(--darkerColor); margin: 5px;
}
.CommenterInfo
{
    display: inline-block;
    text-align: center;
    margin: 10px;
}
.CommenterInfo img
{
 border-color: var(--darkerColor); margin-bottom: 0px;
}
.CommenterInfo p
{
    margin: 5px;
}
.PostBubble
{
    margin: 10px;
}
.CommentSection
{
    margin-top: 0px; border-radius: 25px; background-color: var(--lighterColor); border-style: dashed; border-color: var(--darkerColor);
    border-bottom-style: none; padding: 5px;
}
#CommentSectionTitle
{
    margin: 10px;
}
.WholePost
{
    margin: 10px;
    border-radius: 25px;
    background-color: var(--darkerColor);
}
.MoreInfo
{
    background-color: var(--lighterColor); border-radius: 25px; border-style: dashed; border-color: var(--darkerColor);
}
.MoreInfo h2
{
    margin: 5px;
}
.MoreInfo p
{
    margin: 5px;
}
