html
{cursor: url('/scissors1.png'), auto;}
html:active
{cursor: url('/scissors2.png'), auto;}
li a:hover
{cursor: url('/scissors1.png'), auto;}
li a:hover:active
{cursor: url('/scissors2.png'), auto;}
*
{border-radius: 25px; font-family:Verdana, Geneva, Tahoma, sans-serif; text-decoration: none;}
#Page
{display: inline-flex;}
ul.PageLayout
{display : inline-flex; margin: 10px; padding: 0; width: 1000px; height: fit-content; border-style: dashed;}
ul.PageLayout h1
{font-size: xxx-large;}
ul.PageLayout h2
{font-size: large;}
.AdSpace
{list-style-type: none;  height: fit-content; width: 200px; margin: 10px; border-style: dashed;}
#AdTitle 
{font-size: large; text-align: center; width: 190px; margin-bottom: 5px;}
.AdSpace img
{margin-top: 5px; height: 180px; margin-left: 10px; border-radius: 0px;}
.PageLink
{display: flex;justify-content: center;align-items: center;color: black;padding: 20px;margin: 5px; text-decoration: none;border: dashed 2px #000;}
.reportGuidelines li a:hover
{background-color: #957dad;color: white;}
#GoToReport
{background-color: #DEB6AB;}
#GoToGuidelines
{background-color: #AEEFC2;}

