ul.SidebarWrapper
{
    position: absolute;
    top: 140px;
    bottom: 0;
    padding: 12px;
    display : flex;
    flex-direction: column;
    background-color: #e0bbe4;
    border-radius: 25px;
    border: dashed 3px #000;
    align-items: left;
    justify-items: left;
    width: 225px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    color: black;
}

#SidebarMain
{
    margin-top: 0px;
    color: black;
    text-decoration: none;
    font-weight: 300;
    font-family: Verdana, sans-serif; 
    font-size: large;
}

#SidebarHelpText
{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-family: Verdana, sans-serif; 
    margin-top: auto;
    margin-bottom: 4px;
    font-size: large;
}

ul.ProfilePageLinks
{
    display : flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.ProfilePageLinks li a 
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    border: dashed 3px #000;
    box-shadow: 5px 5px 5px #957dad;
}

.one {
    background-color: #EF5354;
}
.two {
    background-color: #E03B8B;
}
.three {
    background-color: #3944F7;
}
.four {
    background-color: #38CC77;
}

ul.ProfilePageLinks li a:hover
{
    background-color: #957dad;
    color: white;
}

.MainBodyRegion
{
    margin-left: 250px;
    margin-top: 15px;
}

.switch
{
    background-color: #957dad;

}