html
{
    cursor: url('scissors1.png'), auto;
}
html:active
{
    cursor: url('scissors2.png'), auto;
}
ul.topnav
{
    display : flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fec8d8;
    height: 120px;
    border-radius: 25px;
    border-style: dashed;
    
}
#Logo
{
    margin: 10px 10px 10px 10px;
    height: 110px;
    border-radius: 25px;
}
#TitleAndSloganBox
{
    display: inline-block;
    align-items: center;
    justify-items: center;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#Title
{
    font-size: xxx-large;
    font-family: Verdana, sans-serif;
    text-shadow: 5px 5px 5px #85586f;
    margin-top: 10px;
    margin-bottom: 0px;
}
#Slogan
{
    font-size: medium;
    font-family: Verdana, sans-serif;
    text-shadow: 5px 5px 5px #85586f;
    margin-bottom: 0px;
    margin-top: 0px;
}
ul.PageLinks
{
    display : flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.PageLinks li a 
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    border-radius: 25px;
    border-style: dashed;
    box-shadow: 5px 5px 5px #85586f;
}
#GoToForum
{
    background-color: #e0bbe4;
}
#GoToPatternSearch
{
    background-color: #fec8d8;
}
#GoToMaterialSearch
{
    background-color: #d6efed;
}
ul.PageLinks li a:hover
{
    background-color: #957dad;
    color: white;
}
li a:hover
{
    cursor: url('scissors1.png'), auto;
}
li a:hover:active
{
    cursor: url('scissors2.png'), auto;
}
#ProfileBox
{
    height: 100px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}
#pfp
{
    height: 80px;
    border-radius: 25px;
    border-color: #85586f;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 0px;

}
#Username
{
    text-align: center;
    margin-top: 0px;
    color: black;
    text-decoration: none;
    font-family: Verdana, sans-serif; 
}
body 
{
    background-color: #85586f;
}
#Page
{
    display:inline-flex;
}
ul.PageLayout
{
    display : flex;
    list-style-type: none;
    margin: 10px;
    padding: 0;
    background-color: #fec8d8;
    height: 1200px;
    width: 1000px;
    border-radius: 25px;
    border-style: dashed;
}
ul.PageLayout h1
{
    font-size: xxx-large;
    font-family: Verdana, sans-serif;
    text-shadow: 5px 5px 5px #85586f;
}
ul.PageLayout h2
{
    font-size: large;
    font-family: Verdana, sans-serif;
    text-shadow: 5px 5px 5px #85586f;
}

#AdSpace
{
    list-style-type: none;
    background-color: #fec8d8;
    height: 1200px;
    width: 200px;
    margin: 10px;
    border-radius: 25px;
    border-style: dashed;
}
#AdTitle
{
    font-size: large;
    text-align: center;
    font-family: Verdana, sans-serif;
    text-shadow: 5px 5px 5px #85586f;
    width: 190px;
}